[Unit]
Description=Shipping Service

[Service]
User=roboshop
Environment=CART_ENDPOINT=CART.vishnureddy.online:8080
Environment=DB_HOST=MYSQL.vishnureddy.online
ExecStart=/bin/java -jar /app/shipping.jar
SyslogIdentifier=shipping

[Install]
WantedBy=multi-user.target
